---
import Icon from "astro-icon";
---

<footer class="footer items-center p-4 bg-neutral text-neutral-content">
    <aside class="items-center grid-flow-col">
      <p>Copyright © 2023 - zlendy.com - All rights reserved.</p>
    </aside> 
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <a title="Mastodon" rel="me" href="https://social.vivaldi.net/@zlender02"><Icon name="mdi:mastodon" style="height: 24px" /></a>
      <a title="Twitter / X" href="https://x.com/Zlender02"><Icon name="x" style="height: 24px" /></a>
    </nav>
  </footer>