---
import { Icon } from "astro-icon/components";
import ModeToggle from "./ModeToggle.vue";
---

<footer class="border-t">
  <div
    class="container flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <p>Copyright © 2023 - zlendy.com - All rights reserved.</p>
    <div
      class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0"
    >
      <a title="ActivityPub" rel="me" href="https://social.zlendy.com/@zlendy">
        <Icon name="activitypub" />
      </a>
      <a title="Twitter / X" href="https://x.com/Zlender02">
        <Icon name="x" />
      </a>
      <ModeToggle client:load />
    </div>
  </div>
</footer>
