@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 32 57% 95%;
		--foreground: 248 19% 40%;
		--muted: 32 12% 90%;
		--muted-foreground: 32 12% 30%;
		--popover: 32 57% 92%;
		--popover-foreground: 248 19% 30%;
		--card: 32 57% 93%;
		--card-foreground: 248 19% 35%;
		--border: 32 47% 90%;
		--input: 32 47% 87%;
		--primary: 248 19% 40%;
		--primary-foreground: 248 19% 100%;
		--secondary: 248 9% 75%;
		--secondary-foreground: 248 9% 15%;
		--accent: 32 57% 80%;
		--accent-foreground: 32 57% 20%;
		--destructive: 6 95% 20%;
		--destructive-foreground: 6 95% 80%;
		--ring: 248 19% 40%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 249 22% 12%;
		--foreground: 245 50% 91%;
		--muted: 249 12% 16%;
		--muted-foreground: 249 12% 66%;
		--popover: 249 22% 9%;
		--popover-foreground: 0 0% 100%;
		--card: 249 22% 10%;
		--card-foreground: 245 50% 96%;
		--border: 249 12% 17%;
		--input: 249 12% 20%;
		--primary: 245 50% 91%;
		--primary-foreground: 245 50% 31%;
		--secondary: 245 30% 25%;
		--secondary-foreground: 245 30% 85%;
		--accent: 249 22% 27%;
		--accent-foreground: 249 22% 87%;
		--destructive: 1 80% 60%;
		--destructive-foreground: 0 0% 100%;
		--ring: 245 50% 91%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
